html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#navigation li {
  font-size: 25pt;
  float: center;
  padding: 2px;
  list-style-type: none;
  background-color: white;
  margin-right: 100px;
  margin-left: 100px;
}
